body {
    color: #333;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

header {
    color: #fff;
    background-color: #0265c4;
    text-align: center;
    padding: 20px;
    margin: 0px;
    width: 100%;
}

.content {
    padding: 15px;
    margin: 0px;
}

.bio {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.achievements {
    padding: 15px;
    margin: 0px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    color: #fff;
    background-color: #0265c4;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 21px;
    width: 100%;
}