body {
    color: #333;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

header {
    color: #fff;
    background-color: #0265c4;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

.content {}