body {
    background-color: #05c46b;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

form {
    background-color: #fff;
    margin: 20px auto;
    padding: 30px 20px;
    text-align: left;
    max-width: 500px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-content {
    margin-bottom: 15px;
    padding: 0px;
}

.form-content label {
    display: block;
    margin-bottom: 10px;
}

.form-content input,
.form-content select,
.form-content textarea {
    display: block;
    width: 95%;
    padding: 10px;
    font-family: inherit;
    border: 1px solid #777;
    border-radius: 5px;
}

